<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 style="margin-top: 1rem;"><%=listing.title%></h3>
            <div class="card w-85" style="display: flex; align-items: center;">
                <img src="<%=listing.image%>" style="height: 15rem;" class="card-img-top" alt="...">
                <div class="card-body mt-2 pl-3">
                    <!-- <h5 class="card-title" style="margin: 0.5rem 1rem;"><%=listing.title%></h5> -->
                    <p class="card-text" style="margin: 0.5rem 1rem;"><%=listing.description%></p>
                    <p class="card-text" style="margin: 0.5rem 1rem;">&#8377 <%=listing.price.toLocaleString("en-IN")%> / night</p>
                    <p class="card-text" style="margin: 0.5rem 1rem;"><%=listing.location%> , <%=listing.country%></p>
                </div>
                <div class="mb-4 mt-1 d-grid gap-2 col-6 mx-auto">
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary mb-2" style="background-color: #004aad;" >Edit this Listing</a>
                    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-primary d-grid gap-2 col-12 mx-auto" style="background-color: #bc1823; border: none;">Delete Listing</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
